.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

header {
    background-color: #2d2d2d;
    padding: 0.5rem;
}

.headerText {
    color: aliceblue;
    font-size: large;
    padding-left: 4rem;
    font-style: normal;
}

.elements {
    float: left;
}

.features {
    white-space: nowrap;
    font-size: small;
}


.item1 {
    background-color: lightgoldenrodyellow;
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
    width: 10rem;
    height: 5rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.item2 {
    background-color: lightgoldenrodyellow;
    justify-content: space-around;
    text-align: center;
    width: 10rem;
    height: 5rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;    
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.item3 {
    background-color: lightgoldenrodyellow;
    justify-content: space-around;
    text-align: center;
    width: 10rem;
    height: 5rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;    
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.item4 {
    background-color: lightgoldenrodyellow;
    justify-content: space-between;
    text-align: center;
    margin-left: 360px;
    width: 30rem;
    height: 5rem;
    padding-bottom: 10rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;    
    font-family: Arial, Helvetica, sans-serif;
}


#getALoanButton {
    background-color: greenyellow;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#bankButton {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#workButton {
    background-color: palevioletred;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#repayLoanButton {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#buyButton {
    background-color: lightpink;
    float: right;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#specs {
    font-size: x-small;
}

#chosenLaptopTitle {
    font-size: x-large;
}

#chosenLaptopDescription {
    font-size: small;
}

#chosenLaptopPrice {
    font-size: large;
}

#chosenLaptopPic {
    float: left;
    width: 150px;
    height: 150px;
}